@font-face {
    font-family: 'RobotoThin';
    src: url('font/roboto-thin.eot');
    src: url('font/roboto-thin.eot?#iefix') format('eot'),
         url('font/roboto-thin.ttf') format('truetype'),
         url('font/roboto-thin.svg') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('font/roboto-regular.eot');
    src: url('font/roboto-regular.eot?#iefix') format('eot'),
         url('font/roboto-regular.ttf') format('truetype'),
         url('font/roboto-regular.svg') format('svg');
}
@font-face {
    font-family: 'Geometria';
    src: url('font/Geometria-Light.otf');
}
#warningAlert #errorAlert #successAlert {
    display: none;
}
#pageContent {
        padding-bottom: 30px;
}
.floatAlerts {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%
}
.alert-dismissible {
    display: none;
    position: fixed;
    min-width: 80%;
    z-index: 1000;
    -webkit-box-shadow: 0px 5px 48px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 48px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 48px 0px rgba(0,0,0,0.4);
    left: 50%;
    transform: translate(-50%, 0);
}
.searchRow {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: var(--hintergrund);
    font-size: 13px;
}
::-webkit-scrollbar {
      width: 10px;
      position: relative;
}
::-webkit-scrollbar-track {
      background-color: var(--akzentfarbe);
      position: relative;
}
::-webkit-scrollbar-thumb {
      background-color: var(--link);
      position: relative;
}
::-webkit-scrollbar-button {
      background-color: var(--akzentfarbe);
      position: relative;
}
::-webkit-scrollbar-corner {
      background-color: var(--akzentfarbe);
      position: relative;
}

body {
	padding-top: 54px;
	font-family: 'RobotoRegular', sans-serif;
	background-color: var(--hintergrund);
	color: var(--schrift);
	margin-bottom: 60px;
	font-size: 0.8rem;
}
.navbar-brand {
    font-family: 'Geometria', 'RobotoRegular', sans-serif;
}
.svg path {
	fill: var(--link);
	color: var(--link);
	background-color: var(--link);
}
.bg-color{
	background-color: var(--akzentfarbe) !important;
}
.nav-link {
	color: var(--link) !important;
	font-weight: 500;
	transition: font-weight .4s ease-in-out;
}
.nav-link:hover, .navbar-brand{
	color: var(--link) !important;
	font-weight: 800;
}
table.dataTable tbody tr{
    background-color: var(--akzentfarbe) !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: var(--schrift) !important;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 51, 153, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
	border: 1px solid rgba(0, 51, 153, 1);
}
html {
	position: relative;
	min-height: 100%;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: var(--akzentfarbe);
}
.footer a {
	color: var(--link);
}
.footer span {
	float: right;
}
.footer span a{
	color: inherit;
}
.text-muted {
	font-family: 'RobotoThin', sans-serif;
}
.mt-5 {
	background-color: var(--hintergrund);
	color: var(--schrift);
	padding: 20px;
	font-family: 'Geometria', 'RobotoThin', sans-serif;
	font-size: 1.5rem;
  font-weight: 500;
}
.dashModul {
	color: var(--link);
	min-height: 100px;
	max-height: 100px;
	padding: 20px;
	margin-bottom: 10px;
    cursor: pointer;
}
.dashModul h3 {
    font-size: 0.7rem;
}
h3{
    font-size: 1.4rem;
}
.dashModuleTitle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.dashIco {
	max-width: 50%;
	margin-bottom: 10px;
	-webkit-transition: max-width 0.2s;
	-moz-transition: max-width 0.2s;
	transition: max-width 0.2s;
}
.dashIco:hover {
	max-width: 80%;
}
#navListItem {
	background-color: var(--akzentfarbe);
	color: var(--link);
	border: solid var(--akzentfarbe);
	border-radius: 15px;
	border-width: 2px;
	padding: 10px;
	margin:  10px;
	display: inline-block;
	min-width: 80%;
}
#navListItem span {
	float: right;
}
#navListIcon {
	display: inline-block;
	font-size: larger;
	color: var(--link);
	cursor: pointer;
}
.loadScreen {
	position: absolute;
	z-index: -1000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: 90vh;
	white-space: nowrap;
}
.loadScreen img {
	vertical-align: middle;
}
.helper {
  display: inline-block;
  height: 100%;
	vertical-align: middle;
}
.btn-primary:hover {
	background-color: var(--link);
	border-color: var(--link);
}
.btn-primary {
	background-color: var(--akzentfarbe);
	border: solid 2px var(--link);
	font-weight: 500;
	border-color: var(--link);
	color: var(--link);
}
.btn {
	cursor: pointer;
}
h2, h1 {
	font-size: 1rem;
	font-weight: 100;
}
select.form-control:not([size]):not([multiple]){
	height: auto;
}
.form-control {
	font-size: 0.7rem;
}
.btn {
	font-size: 0.8rem;
}
.navbar {
	border-bottom: solid 1.5px var(--link);
}
.mt-5, .my-5 {
	margin-top: 2rem !important;
    text-align: center;
}
.userContentBox {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.userContentBox .header {
	padding-top: 10px;
	font-size: 0.9rem;
	cursor: pointer;
}
.deadlineHeader {
	padding-top: 10px;
	font-size: 1.1rem;
	cursor: pointer;
	padding-bottom: 10px;
}
.inCard {
	margin: 10px;
	max-width: 97%;
}
.card {
    background-color: var(--akzentfarbe) ;
}
hr {
    background-color: var(--schrift) ;
    border-color: var(--schrift) ;
    color: var(--schrift) ;
    opacity: 0.2;
}
.deadline {
	padding: 20px;
	margin: 7px;
	max-width: 47%
}
.detailedGrades {
	margin-top: 5px;
	display: none;
}
.alert-success {
    background-color: #dff0d8 !important;
}
.alert-danger {
    background-color: #f2dede !important;
}
@media (max-width: 767px) {
    .dashModul {
    	color: var(--link);
    	min-height: 80px;
    	max-height: 80px;
    	margin-bottom: 80px;
    }
    .dashIco:hover {
    	max-width: 60%;
    }
}
@media (max-width: 575px) {
    .navbar-brand span {
        display: none;
    }
    .dashModul {
    	color: var(--link);
    	min-height: 50px;
    	max-height: 50px;
    	margin-bottom: 80px;
    }
    .dashIco:hover {
    	max-width: 25%;
    }
    .dashModul h3 {
        font-size: 0.7rem;
    }
    .dashModuleTitle {
    	margin-left: auto;
    	margin-right: auto;
    	text-align: center;
    }
    .dashIco {
    	max-width: 20%;
    	margin-bottom: 10px;
    	-webkit-transition: max-width 0.2s;
    	-moz-transition: max-width 0.2s;
    	transition: max-width 0.2s;
    }
}
@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
	.deadline {
		max-width: 23%;
		min-height: 200px;
		max-height: 200px;
		height: 200px;
	}
}
.myProgress {
    width: 100%;
    background-color: var(--akzentfarbe);
}
.myBar {
    width: 1%;
    height: 30px;
    background-color: var(--link);
}
