@font-face {
    font-family: 'MetaPro-Normal';
    src: url('css/font/MetaPro-Normal.eot');
    src: url('css/font/MetaPro-Normal.eot?#iefix') format('embedded-opentype'),
        url('../css/font/MetaPro-Normal.woff2') format('woff2'),
        url('../css/font/MetaPro-Normal.woff') format('woff'),
        url('../css/font/MetaPro-Normal.ttf') format('truetype'),
        url('../css/font/MetaPro-Normal.svg#MetaPro-Normal') format('svg');
}

@font-face {
    font-family: 'MetaPro-Medium';
    src: url('css/font/MetaPro-Medium.eot');
    src: url('css/font/MetaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../css/font/MetaPro-Medium.woff2') format('woff2'),
        url('../css/font/MetaPro-Medium.woff') format('woff'),
        url('../css/font/MetaPro-Medium.ttf') format('truetype'),
        url('../css/font/MetaPro-Medium.svg#MetaPro-Medium') format('svg');
}

#warningAlert #errorAlert #successAlert {
    display: none;
}
#pageContent {
        padding-bottom: 30px;
}
.highlighter {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.highlighter:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.floatAlerts {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%
}
.modal {
    z-index: 5000;
}
.alert-dismissible {
    display: none;
    position: fixed;
    min-width: 80%;
    z-index: 9999;
    -webkit-box-shadow: 0px 5px 48px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 48px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 48px 0px rgba(0,0,0,0.4);
    left: 50%;
    transform: translate(-50%, 0);
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: var(--hintergrund);
    font-size: 13px;
}
::-webkit-scrollbar {
      width: 10px;
      position: relative;
}
::-webkit-scrollbar-track {
      background-color: var(--akzentfarbe);
      position: relative;
}
::-webkit-scrollbar-thumb {
      background-color: var(--link);
      position: relative;
}
::-webkit-scrollbar-button {
      background-color: var(--akzentfarbe);
      position: relative;
}
::-webkit-scrollbar-corner {
      background-color: var(--akzentfarbe);
      position: relative;
}

body {
    overflow-y: scroll;
	padding-top: 54px;
	background-color: var(--hintergrund);
	color: var(--schrift);
    font-family: 'MetaPro-Normal', sans-serif;
	margin-bottom: 60px;
}
.svg path {
	fill: var(--link);
	color: var(--link);
	background-color: var(--link);
}
.bg-color{
	background-color: var(--akzentfarbe) !important;
}
.bg-light {
    background-color: var(--akzentfarbe) !important;
}
.nav-link, .navbar-brand{
	color: var(--link) !important;
}
.navbar-brand, .mt-5 {
	font-family: "MetaPro-Medium", sans-serif;
	font-size: 22px;
	letter-spacing: 0.44px;
	font-weight: 500;
}
.nav-link {
    opacity: 0.7;
    transition: opacity 0.2s;
}
.navbar-light .navbar-toggler {
    border-color: var(--link) !important;
}
.nav-link:hover {
	opacity: 1;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: var(--schrift) !important;
}
html {
	position: relative;
	min-height: 100%;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: var(--akzentfarbe);
}
.footer a {
	color: var(--link);
}
.footer span {
	float: right;
}
.footer span a{
	color: inherit;
}
.text-muted {
	font-family: 'MetaPro-Normal', sans-serif;
}
.mt-5 {
	background-color: var(--hintergrund);
	color: var(--schrift);
	font-size: 30px;
	margin-bottom: 20px;
}
.dashModul {
	color: var(--link);
	min-height: 100px;
	max-height: 100px;
	margin-bottom: 100px;
    padding: 30px;
    cursor: pointer;
}
.dashModul h3 {
    margin-top: 30px;
    font-size: 1rem;
}
h3{
    font-size: 1.4rem;
}
.dashModuleTitle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.dashIco {
	max-width: 50%;
	margin-bottom: 5px;
	-webkit-transition: max-width 0.2s;
	-moz-transition: max-width 0.2s;
	transition: max-width 0.2s, margin-bottom 0.2s;
}
.dashIco:hover {
	max-width: 60%;
    margin-bottom: 15px;
}
#navListItem {
	background-color: var(--akzentfarbe);
	color: var(--link);
	border: solid var(--akzentfarbe);
	border-radius: 15px;
	border-width: 2px;
	padding: 10px;
	margin:  10px;
	display: inline-block;
	min-width: 80%;
}
#navListItem span {
	float: right;
}
#navListIcon {
	display: inline-block;
	font-size: larger;
	color: var(--link);
	cursor: pointer;
}
.loadScreen {
	position: absolute;
	z-index: -1000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: 90vh;
	white-space: nowrap;
}
.loadScreen img {
	vertical-align: middle;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.btn-primary {
    background: var(--link);
    border-color: var(--link);
}
.btn-primary:hover {
    background: var(--link);
    border-color: var(--link);
}
a {
    color: var(--link);
}
.btn {
	cursor: pointer;
}
h2, h1 {
	font-size: 1rem;
}
select.form-control:not([size]):not([multiple]){
	height: auto;
}
.form-control {
	font-size: 0.9rem;
}
.btn {
	font-size: 0.9rem;
}
.userContentBox {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.userContentBox .header {
	padding-top: 10px;
	font-size: 0.9rem;
}
.deadlineHeader {
	padding-top: 10px;
	font-size: 1.1rem;
	cursor: pointer;
	padding-bottom: 10px;
}
.inCard {
	margin: 10px;
	max-width: 97%;
}
hr {
    background-color: var(--schrift) ;
    border-color: var(--schrift) ;
    color: var(--schrift) ;
    opacity: 0.2;
}
.deadline {
	padding: 20px;
	margin: 7px;
	max-width: 47%
}
.detailedGrades {
	margin-top: 5px;
	display: none;
}
.alert-success {
    background-color: #dff0d8 !important;
}
.alert-danger {
    background-color: #f2dede !important;
}
@media (max-width: 767px) {
    .dashModul {
    	color: var(--link);
    	min-height: 80px;
    	max-height: 80px;
    	margin-bottom: 80px;
    }
    .dashIco:hover {
    	max-width: 60%;
    }
}
@media (max-width: 575px) {
    .navbar-brand span {
        display: none;
    }
    .dashModul {
    	color: var(--link);
    	min-height: 50px;
    	max-height: 50px;
    	margin-bottom: 80px;
    }
    .dashIco:hover {
    	max-width: 50%;
    }
    .dashModul h3 {
        font-size: 0.9rem;
    }
    .dashModuleTitle {
    	margin-left: auto;
    	margin-right: auto;
    	text-align: center;
    }
    .footer {
        font-size: 1rem;
    }
    .dashIco {
    	max-width: 45%;
    	margin-bottom: 10px;
    	-webkit-transition: max-width 0.2s;
    	-moz-transition: max-width 0.2s;
    	transition: max-width 0.2s;
    }
    .nav-link {
        font-size: 1rem;
    }
}
@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
	.deadline {
		max-width: 23%;
		min-height: 200px;
		max-height: 200px;
		height: 200px;
	}
}
.myProgress {
    width: 100%;
    background-color: var(--akzentfarbe);
}
.myBar {
    width: 1%;
    height: 30px;
    background-color: var(--link);
}
