:root {
	--akzentfarbe: #F1F4FB;
	--hintergrund: white;
	--link: #1C4E9C;
	--schrift: black;
}
body {
	padding-top: 54px;
	font-family: ff-meta-web-pro,Helvetica,Arial,sans-serif;
	background-color: var(--hintergrund);
	color: var(--schrift);
	margin-bottom: 60px; /* Margin bottom by footer height */
	font-size: 0.7rem;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}
.bg-color {
	background-color: var(--akzentfarbe) !important;
}
.nav-link {
	color: var(--link) !important;
	font-size: medium;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 51, 153, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
	border: 1px solid rgba(0, 51, 153, 1);
}
html {
	position: relative;
	min-height: 100%;
}
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: var(--akzentfarbe);
}
.footer a {
	color: var(--link);
}
.footer span {
	float: right;
}
.footer span a{
	color: inherit;
}
.mt-5 {
	background-color: white;
	padding: 20px;
}
.dashModul {
	color: var(--link);
	min-height: 150px;
	max-height: 150px;
	padding: 20px;
	margin-top: 60px;
}
.dashModuleTitle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.dashIco {
	max-width: 50%;
	margin-bottom: 10px;
	-webkit-transition: max-width 0.2s;
	-moz-transition: max-width 0.2s;
	transition: max-width 0.2s;
}
.dashIco:hover {
	max-width: 65%;
}
#navListItem {
	background-color: var(--akzentfarbe);
	color: var(--link);
	border: solid var(--akzentfarbe);
	border-radius: 15px;
	border-width: 2px;
	padding: 10px;
	margin:  10px;
	display: inline-block;
	min-width: 80%;
}
#navListItem span {
	float: right;
}
#navListIcon {
	display: inline-block;
	font-size: larger;
	color: var(--link);
	cursor: pointer;
}
.loadScreen {
	position: absolute;
	z-index: -1000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: 90vh;
	white-space: nowrap;
}
.loadScreen img {
	vertical-align: middle;
}	
.helper {
    display: inline-block;
    height: 100%;
	vertical-align: middle;
}
.btn-primary:hover {
	background-color: var(--link);
	border-color: var(--link);
}
.btn-primary {
	background-color: var(--akzentfarbe);
	border: solid 2px var(--link);
	font-weight: 500;
	border-color: var(--link);
	color: var(--link);
}
.btn {
	cursor: pointer;
}
h3 {
	font-size: 1rem;
}
h2, h1 {
	font-size: 1.5rem;
	font-weight: 200;
}
select.form-control:not([size]):not([multiple]){
	height: auto;
}
.form-control {
	font-size: 0.7rem;
}
.btn {
	font-size: 0.8rem;
}
.navbar {
	border-bottom: solid var(--link);
}
.mt-5, .my-5 {
	margin-top: 2rem !important;
}
.userGradeBox {
	font-size: larger;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.detailedGrades {
	margin-top: 5px;
	display: none;
}